<h1> Tasks </h1>

<%= form_for(@task) do |f| %>
  <%= f.hidden_field :scheduleid %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action %><br>
    <%= f.text_field :action %>
  </div>
  
  <div class='btn btn-group'>
    <td><div class="action">
      <%= f.submit 'Create', :class => "btn btn-default" %>
    </div></td>

    <td><%= link_to 'Cancel', tasks_path(:scheduleid), :class => 'btn btn-default' %></td>
  </div>
<% end %>